# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
crash.log

# Lambda build artefacts
.build/
src/**/__pycache__/

# Diagram generation
.diagram-venv/
src/**/*.pyc
*.zip

# Local env
.env
